<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audioCodecInfo</key>
	<string>mp4a.40.2</string>
	<key>avgBitRate</key>
	<real>1208552.0345048311</real>
	<key>maxBitRate</key>
	<real>1511520.0000000002</real>
	<key>videoCodecInfo</key>
	<string>avc1.4d401e</string>
</dict>
</plist>
