<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audioCodecInfo</key>
	<string>mp4a.40.2</string>
	<key>avgBitRate</key>
	<real>797760.94422112498</real>
	<key>maxBitRate</key>
	<real>1129804.8</real>
	<key>videoCodecInfo</key>
	<string>avc1.42e01e</string>
</dict>
</plist>
