.app-navigation {
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    /*grid-template-rows: repeat(6, 200px);*/
    grid-gap: 0;

    /*grid-auto-flow: dense;*/
}

.app-navigation .nav-tile {
    /*border: .5rem solid green;*/
    background-color: var(--color-primary);
    border-radius: .5rem;
    color: white;
    margin: .5rem;
    min-height: 6rem;
    text-align: center;
    display: table;
    box-shadow: -0.043rem 0.1rem 0.313rem 0 rgb(0 0 0 / 35%);
    /*min-width: 11rem;*/
    /*max-width: 15rem;*/
}

.app-navigation .nav-tile a {
    display: table-cell;
    vertical-align: middle;
    color: white;
    text-decoration: none;
}


.app-navigation .nav-tile i {
    /*display: block;*/
    margin-bottom: .25rem;
}
